* {
  margin: 10px;
}

.botones {
  display: flex;
  justify-content: center;
}

button {
  border: none;
  background-color: lightgray;
  width: 50%;
  height: 60px;
  border: 1px solid black;
  cursor: pointer;
}

button:hover {
  background: red;
  color: white;
}

.changeColor {
  background-color: salmon;
}

.originaColor {
  background-color: rgb(239, 232, 232);
  opacity: 0.8;
}

.mainPage {
  background-color: rgb(101, 28, 238);
  margin: auto;
  border-radius: 30px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: white;
  font-size: 20px;
  height: 550px;
  align-items: center;
  border: 5px solid black;
}

.startButton {
  width: 15%;
  border-radius: 30px;
  background-color: black;
  color: white;
  font-size: 40px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 60px;
}

.startButton:hover {
  background-color: yellow;
  color: black;
}

.game {
  height: 600px;
}